<a href="https://colab.research.google.com/github/NivasMaturi/ML-Lab/blob/main/ML_PRGOM3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Colab!

In [3]:
import pandas as pd

# Create a simple dataset
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "Salary": [50000, 60000, 70000]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

# Display the first few rows
print(df.head())

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [6]:
import pandas as pd
df = pd.DataFrame(
       {
            "Name": [
                "Braund, Mr. Owen Harris",
               "Allen, Mr. William Henry",
               "Bonnell, Miss. Elizabeth",
           ],
           "Age": [22, 35, 58],
           "gender": ["male", "male", "female"],
        }
    )


df

                       Name  Age  gender
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [7]:
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
df['Age'].max()